<% layout('/layouts/boilerplate')%>
<link rel="stylesheet" href="/css/playerShow.css">
<div class="row">
  <div class="col-12">
    <div class="card mb-3 text-center">
      <div class="card-body">
        <h2 class="card-title"><% if(player.name) { %> <%= player.name %> / <% } %><%= player.role %></h2>
        <% if(player.name) { %> <h3 class="card-text"><%= player.position %></h3> <% } %> 
        <div class="card-body nades-div">
          <% for(let [index, nade] of player.utility.entries()) { %> 
            <div class="nade-container mb-3">
              <img src="/img/<%=nade.name %>.png" alt="<%=nade.name %> " srcset="">
              <div class="nade-description" id="description<%=index%>">
                <span><%=nade.description %></span>
              </div>
            </div>
          <% } %> 
        </div>
        <div class="card-body">
          <p class="card-text"><%= player.description %></p>
        </div>
        
      </div>

      <div class="card-body">
        <a class="btn btn-info" href="/strategies/<%=player.strategyId%>">Back to strategy</a>
        <a class="btn btn-warning" href="/strategies/<%=player.strategyId%>/player/<%=player._id%>/edit">Edit</a> 
        <form class="d-inline" action="/strategies/<%=player.strategyId%>/player/<%=player._id%>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/utility.js"></script>

