<% layout('/layouts/boilerplate')%>
<h1>All strategies</h1>
<div>
  <a href="/strategies/new">Add strategy</a>
</div>
<% for (let strategy of strategies) {%>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <img class="img-thumbnail" alt="Map of <%=strategy.map %>" src="/img/<%=strategy.map%>.jpg">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">
            <%= strategy.name%>
          </h1>
          <p class="d-inline card-text"><img width="35px" class="d-inline" src="/img/people.svg" alt="People icon"> <%= strategy.players.length %> People </p>
          <p class="card-text"><%=strategy.description%></p>
          <a class="btn btn-primary" href="/strategies/<%=strategy.id%>">View <%=strategy.name%></a>
        </div>
      </div>
    </div>
  </div>
<% } %>
</body>
</html>