<% layout('/layouts/boilerplate')%>

<div class="row">
  <div class="col-6">
    <div class="card mb-3">
      <img src="/img/<%=strategy.map%>.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= strategy.title %></h5>
        <p class="card-text"><%= strategy.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= strategy.map %></li>
        <li class="list-group-item"><%= strategy.number %> People</li>
      </ul>
      <div class="card-body">
        <a class="card-link btn btn-warning" href="/strategies/<%=strategy._id%>/edit">Edit</a> 
        <form class="d-inline" action="/strategies/<%=strategy._id%>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <div class="card-footer text-muted">
      </div>
    </div>
  </div>
</div>

