<% layout('/layouts/boilerplate')%>
<link rel="stylesheet" href="/css/collapse.css">
<div class="row">
  <div class="col-6">
    <div class="card mb-3">
      <img src="/img/<%=strategy.map%>.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h1 class="card-title"><%= strategy.name %></h1>
        <p class="card-text"><%= strategy.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <img class="d-inline" src="/img/map.svg" alt="People icon">
          <%= strategy.map %></li>
        <li class="list-group-item">
          <img class="d-inline" src="/img/people.svg" alt="People icon">
          <%= strategy.players.length %> People
        </li>
      </ul>
      <div class="card-body">
        <form class="d-inline" action="/strategies/<%=strategy._id%>/addPlayer?_method=PUT" method="POST" novalidate class="validated-form">
          <button class="btn btn-info">Add player</button>
        </form>
        <a class="card-link btn btn-warning" href="/strategies/<%=strategy._id%>/edit">Edit</a> 
        <form class="d-inline" action="/strategies/<%=strategy._id%>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>

    </div>
  </div>
  <div class="col-6 text-center">
    <% for(let player of strategy.players){ %> 
      <div class="collapsible">
        <div class="card mb-3">
          <div class="card-body">
            <h2 class="card-title"> <% if(player.name) { %> <%= player.name %> / <% } %><%= player.role %></h2>
            <h3 class="card-text"><%= player.position %></h3>
            <div class="card-body">
              <% for(let nade of player.utility) { %> 
                <img src="/img/<%=nade.name%>.png" alt="<%=nade.name %> " srcset="">
              <% } %> 
            </div>
            <p class="card-text"><%= player.description %></p>
          </div>
          <div class="card-body">
            <a class="btn btn-info" href="/strategies/<%=strategy._id%>/player/<%=player._id%>">View</a> 
            <a class="btn btn-warning" href="/strategies/<%=strategy._id%>/player/<%=player._id%>/edit">Edit</a> 
            <form class="d-inline" action="/strategies/<%=strategy._id%>/player/<%=player._id%>?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    <% } %> 
  </div>
</div>

<script src="/js/collapse.js"></script>

